/*
Made By Alex Bluhm for CS313 Class
*/

.header {
    max-width:			1437px;
	width:			1437px;
}

.nav_bar {
    width:				1503px;
}

#requirements_div {
    left:				calc(50vw + 750px);
}

.container {
    max-width:			1500px;
    width:              1500px;
}

.framework {
    display:            table;
    width:              100%;
    outline:            2px solid blue;
    /*table-layout:       fixed; /* optional, for equal spacing */
}

.div-row {
    display:            table-row;
}

.right-cell {
    width:              400px;
    padding:            0px 0px 0px 0px;
    vertical-align:     top;
}

.div-left-cell {
    width:              300px;
    padding:            0px 2px 0px 2px;
}

.middle-cell {
    vertical-align:     top;
    width:              200px;
    display:            table-cell;
    padding:            0px 0px 0px 0px;
    /*position:           relative;*/
}

.center-cell {
    margin:             auto;
    display:            block;
    text-align:         center;
    padding:            20px 0px 0px 0px;
}

.div-right-cell {
    text-align:         left;
    height:             100%;
}

.fourth-cell {
    padding:            0px 0px 0px 0px;         
}